*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* common */

header{
    background-color: rgb(255, 105, 0);
    padding: 20px;
}

footer{
    background-color: aqua;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

/* header */

.side-col{
    width: 30%;
}

.mid-col{
    width: 40%;
}

/* main */

.main-col{
    width: 33%;
}

/* footer */

.footer-col{
    width: 50%;
}

/* lista */

ul{
    list-style: none;
    display: flex;
}



/* flexbox */

.d-flex{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

.align-item-center{
    align-items: center;
}

.justi-center{
    justify-content: center;
}

.justi-end{
    justify-content: flex-end;
}

.justi-content-between{
    justify-content: space-between;
}

.gap{
    gap: 6px;
}

/* text position */

.txt-center{
    text-align: center;
}

.txt-right{
    text-align: right;
}

.txt-left{
    text-align: left;
}

/* utility */

.bg-blue{
    background-color: blue;
}

.bg-grey{
    background-color: grey;
}

.bg-black{
    background-color: black;
}

.border{
    border: 1px solid black;
}

/* altezze */

.hg-50{
    height: 50px;
}

.hg-300{
    height: 300px;
}

.hg-700{
    height: 700px;
}

/* margini */

.mx-10{
    margin: 0 10px 0 10px;
}

.my-15{
    margin-bottom: 15px;
}

/* padding */

.pdt-20{
    padding-top: 20px;
}

.pd-20{
    padding: 20px;
}